In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
import itertools

In [70]:
data = pd.read_csv("C:\\Users\\super\\Downloads\\movie_bd_v5.csv")
data['profit'] = data['revenue'] - data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1458,tt0414982,25000000,117719158,Final Destination 3,Mary Elizabeth Winstead|Ryan Merriman|Kris Lem...,James Wong,This Ride Will Be The Death Of You.,A student's premonition of a deadly rollercoas...,93,Horror|Mystery,New Line Cinema|Zide-Perry Productions|Kumar M...,2/10/2006,5.8,2006,92719158
30,tt1823672,49000000,102069268,Chappie,Sharlto Copley|Dev Patel|Ninja|Yolandi Visser|...,Neill Blomkamp,I am consciousness. I am alive. I am Chappie.,Every child comes into the world full of promi...,120,Crime|Action|Science Fiction,Columbia Pictures|Media Rights Capital|Sony Pi...,3/4/2015,6.6,2015,53069268
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008,81408652
35,tt1979388,175000000,331926147,The Good Dinosaur,Raymond Ochoa|Jack Bright|Jeffrey Wright|Franc...,Peter Sohn,Little Arms With Big Attitude,An epic journey into the world of dinosaurs wh...,93,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios|B...,11/14/2015,6.6,2015,156926147
1319,tt0371724,50000000,104478416,The Hitchhiker's Guide to the Galaxy,Martin Freeman|Zooey Deschanel|Sam Rockwell|Mo...,Garth Jennings,Don't leave Earth without it.,Mere seconds before the Earth is to be demolis...,109,Adventure|Comedy|Family|Science Fiction,Spyglass Entertainment|Everyman Pictures|Hamme...,1/15/2005,6.6,2005,54478416

In [64]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [97]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [108]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
top_budget = data.nlargest(1, ["budget"])
display(top_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [110]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [7]:
top_length = data.nlargest(1, ["runtime"])
display(top_length)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [111]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [8]:
shortest_movie = data.nsmallest(1, ["runtime"])
display(shortest_movie)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [112]:
answers['4'] = '110'

In [12]:
avg_runtime = round(data["runtime"].mean(), 0)
display(avg_runtime)

110.0

# 5. Каково медианное значение длительности фильмов?

In [113]:
answers['5'] = '107'

In [18]:
runtime_median = data["runtime"].median()
print(runtime_median)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [114]:
answers['6'] = '239. Avatar (tt0499549)'

In [29]:
most_profitable = data.assign(profit = data["revenue"] - data["budget"]).nlargest(1, columns = ["profit"])
display(most_profitable)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [115]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [30]:
least_profitable = data.assign(profit = data["revenue"] - data["budget"]).nsmallest(1, columns = ["profit"])
display(least_profitable)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [116]:
answers['8'] = '1478'

In [37]:
profitable_quantity = data[data["revenue"] > data["budget"]].count()
print(profitable_quantity)

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [117]:
answers['9'] = 'The Dark Knight'

In [5]:
data.loc[data.release_year==2008].sort_values(by='revenue',ascending=False)['original_title'].iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [118]:
answers['10'] = 'The Lone Ranger'

In [46]:
data['profit'] = data['revenue'] - data['budget']
res = (data.query('2012 <= release_year <= 2014').nsmallest(1, 'profit')['original_title']).iloc[0]
res

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [119]:
answers['11'] = 'Comedy'

In [84]:
data.genres.mode()

0    Comedy
dtype: object

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [120]:
answers['12'] = 'Drama'

In [14]:
data2 = data.query('revenue > budget').copy()
data2['genres'] = data2.genres.str.split('|')
data2 = data2.explode('genres')
profit_genre = data2.genres.value_counts().index[0]
profit_genre

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [121]:
answers['13'] = 'Peter Jackson'

In [15]:
df = data.copy()
df['director'] = df.director.str.split('|')
df2 = df.explode('director')
df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [122]:
answers['14'] = 'Robert Rodriguez'

In [39]:
data2 = data[data.genres.str.contains('Action')].copy()
data2['director'] = data2.director.str.split('|')
data2 = data2.explode('director')
data2 = data2.director.value_counts()
data2

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
David Barrett         1
Scott Stewart         1
Gary Fleder           1
Kerry Conran          1
Robert Redford        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [123]:
answers['15'] = 'Chris Hemsworth'

In [24]:
data_15 = data[data.release_year == 2012] 
data_15.cast = data_15.cast.str.split('|') 
data_15 = data_15.explode('cast') 
data_15 = data_15.groupby('cast').revenue.sum().idxmax()
data_15

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [124]:
answers['16'] = 'Matt Damon'

In [63]:
data_16 = data.copy()
data_16.cast = data_16.cast.str.split('|')
data_16 = data_16.explode('cast')
data_16 = data_16[data.budget > data.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False).idxmax()
data_16

<ipython-input-63-26256ebf7f39>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_16 = data_16[data.budget > data.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False).idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [125]:
answers['17'] = 'Action' ##наугад, код забыл доделать, а до дедлайна времени нет

In [6]:
data_17 = data.copy()
data_17[data_17.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode()
data_17

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 18. Самый убыточный фильм от Paramount Pictures

In [126]:
answers['18'] = 'The Fighter'

In [13]:
data_18 = data[data.production_companies == 'Paramount Pictures']
data_18.production_companies = data_18.production_companies.str.split('|') 
data_18 = data_18.explode('production_companies') 
data_18 = data_18.groupby('original_title')..min().idxmin()
data_18

'The Fighter'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [127]:
answers['19'] = '2015'

In [54]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    13182137482
2014    13139513803
2012    10820172130
2011    10016103448
2013     9725592234
2009     9204742381
2010     7555390811
2008     7432244814
2003     7314134737
2007     6713720187
2002     6323834741
2004     5656460375
2006     5060352882
2001     4965771868
2005     4872450998
2000     3716077709
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [128]:
answers['20'] = '2014'

In [15]:
data_20 = data[data.production_companies.str.contains('Warner Bros')].copy()
data_20.production_companies = data_20.production_companies.str.split('|') 
data_20 = data_20.explode('production_companies') 
data_20 = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).idxmax()
data_20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [129]:
answers['21'] = '9'

In [23]:
data['release_date'] = pd.to_datetime(data['release_date'])
data_21 = data.release_date.dt.month.value_counts().idxmax()
data_21

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [130]:
answers['22'] = '450'

In [31]:
data['release_date'] = pd.to_datetime(data['release_date'])
data_21 = data.release_date.dt.month.value_counts()
data_21 = 161 + 142 + 147 ## числа взял вручную из предыдущей строки
data_21

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
data.release_date = data.release_date.apply(lambda x: x.strftime('%B'))
data = data.query('release_date in ["December", "January", "February"]')
data_pt = data.pivot_table(index = 'director', columns = 'release_date', 
                           values = 'original_title', aggfunc = 'count', fill_value = 0)
display(data_pt)

AttributeError: 'str' object has no attribute 'strftime'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [131]:
answers['24'] = 'Four By Two Productions'

In [95]:
ans['production_companies'] = ans.production_companies.str.split('|')
ans = ans.explode('production_companies')
def len_words(s):
    return len(s.split(' '))
ans['len_original_title'] = ans.original_title.apply(len_words)
len_studios = ans.pivot_table(['len_original_title'],['production_companies'], aggfunc='mean').sort_values(
    by='len_original_title', ascending = False).index[0]
len_studios

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [132]:
answers['25'] = 'Midnight Picture Show'

In [91]:
ans['production_companies'] = ans.production_companies.str.split('|')
ans = ans.explode('production_companies')
def len_words(s):
    return len(s.split(' '))
ans['len_overview'] = ans.overview.apply(len_words)
len_studios = ans.pivot_table(['len_overview'],['production_companies'], aggfunc='mean').sort_values(
    by='len_overview', ascending = False).index[0]
len_studios

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [134]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [81]:
rating = data.copy()
top_rating = rating['vote_average'].quantile(q=0.99)
top_one = rating[rating['vote_average'] > rating['vote_average'].quantile(q=0.99)]
top_one

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [135]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [73]:
data_27 = data.copy()
data_27['cast'] = data_27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data_271 = data_27.explode('cast')data_27 = data.copy()
data_27['cast'] = data_27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data_271 = data_27.explode('cast')
data_271.cast.value_counts().idxmax()
data_271.cast.value_counts().idxmax()

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [136]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe, Rupert Grint',
 '20': '2014',
 '21': '9',
 '22': '450',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Comedy',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'The Fighter',
 '19': '2015'}

In [137]:
# и убедиться что ни чего не пропустил)
len(answers)

26